/* $Id: style.css,v 1.1 2009-05-20 18:09:55 valerie Exp $ */

/*
 * This space intentionally left blank.
 *
 * See template.php to see how Zen styles are added to the page.
 */

#block-cmeprofile-2 {
    display:none;
}

.diywebNavigation {
    margin: 0 auto;
    width: 955px;
    font-family: 'PT Sans', sans-serif;
    font-transform: uppercase;
    font-size: 15px;
    color: #787f8e;
}

#mainNav1 {
    width: 955px;
    padding: 20px 0 0 0;
    list-style: none;
    white-space: nowrap;
    margin: 0 auto;
    zoom: 1;
    content: "\0020";
    display: block;
    height: 0;    
}

#mainNav1 li {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 900px;
}

#mainNav1 li:nth-of-type(10n+1) a {
    background-color: #000000;
    color: #ffffff;
}

#mainNav1 li:nth-of-type(10n+2) a {
    background-color: #be0669;
}

#mainNav1 li:nth-of-type(10n+3) a {
    background-color: #b6111e;
}

#mainNav1 li:nth-of-type(10n+4) a {
    background-color: #d94b0d;
}

#mainNav1 li:nth-of-type(10n+5) a {
    background-color: #d5a40e;
}

#mainNav1 li:nth-of-type(10n+6) a {
    background-color: #3c76a3;
}

#mainNav1 a:hover {
    color: #ffffff;
}

#mainNav1 a:link {
    letter-spacing: -1px;
}

#mainNav1 a.current {
    color: #fff;
    background-image: url(http://www.solutionsightinc.com/s/img/bg-diywebMainNav1Current.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#mainNav1 a,
#mainNav1 a:link,
#mainNav1 a:visited {
    color: #222;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 10px;
}






.diywebFooter {
    margin: 0 auto;
    border-top: 1px solid #8f97a7;
    width: 955px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #787f8e;
}

.diywebFooterCenter {
    padding: 20px 0;
    color: #787f8e;
    display:block;
}

div#contentfooter {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 11px;
    line-height: 140%;
    font-weight: normal;
    overflow: hidden;
}

div#contentfooter div.leftrow {
    float: left;
    text-align: left;
    width: 55%;
}

.diywebFooter a:link {
    color: #787f8e;
    text-decoration: none;
    cursor: auto;
}

.dywebFooter .inline {
    display:inline;   
}

.dywebFotter img {
    border: 0;
}
