#busep {
    background: url("../img/bu/bg-content.gif") repeat-x scroll 0 0 transparent;
    padding-top: 5px;
    position: relative;
}

#buwrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 100%;
    font-family: Helvetica, arial, verdana, sans-serif;
    font-size: 11px;
}

#buheader {
    background: url("../img/bu/bg.jpg") no-repeat scroll 50% 0 #041451;
    height: 120px;
}

.bucontainer {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 837px;
}

#masthead {
    left: 0;
    position: absolute;
    width: 562px;
}

#masthead h1 {
    float: left;
    margin: 0;
}

#masthead a {
    text-decoration: none;
    color: #0C59B6;
}

#quicksearch {
    background: url("../img/bu/sprite.png") no-repeat scroll -100px 0 transparent;
    height: 33px;
    position: absolute;
    right: 0;
    top: 24px;
    width: 201px;
}

#quicksearch input#q {
    border: medium none transparent;
    float: left;
    margin: 10px 12px;
    padding: 0;
    width: 149px;
}

#quicksearch input {
    border: medium none;
    color: #939B9F;
}

#quicksearch select {
    display: none;
}

#quicksearch fieldset {
    margin: 0;
    padding: 0;
}

#quicksearch input.button {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    height: 33px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9000px;
    text-transform: capitalize;
    width: 28px;
    border-radius: 14px 14px 14px 14px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 700;
}

#quicksearch input {
    border: medium none;
    color: #939B9F;
}

#pnb {
    width: 837px;
    background-color: #07144B;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 36px;
    left: 0;
    position: absolute;
    top: 84px;
    z-index: 100;
}

#bunav {
    height: 36px;
    overflow: hidden;
    font-size: 10px;
    list-style: none outside none;
    margin: 0 !important;
}

#bunav li:first-child {
    border-top-left-radius: 6px;
}

#bunav li {
    float: left;
    width: auto;
}

#bunav li a {
    color: #6FA8E2;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 14px;
    padding: 11px;
    text-decoration: none;
    text-transform: uppercase;
}

#bunav li a:hover, #bunav li a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

#bunav li.current_page_item a {
    color: #FFFFFF;
}

#bunav li a:focus {
    text-decoration: underline;
}

#bunav li:hover, #bunav li:focus {
    background: url("images/sprite.png") no-repeat scroll -100px -900px #0C59B6;
}

#bunav li:hover ul, #bunav li:focus ul {
    left: auto;
}

#bunav li a:hover, #bunav li:hover a, #bunav li a:focus, #bunav li:focus a, #bunav li a.active_section {
    color: #FFFFFF;
}

#bunav li li:hover, #bunav li li:focus {
    background: none repeat scroll 0 0 transparent;
}

#bunav.no-dive li.current_page_item:hover, #bunav.no-dive li.current_page_item:focus {
    background: none repeat scroll 0 0 transparent;
    cursor: default;
}

#bunav li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 3px 6px #666666;
    left: -999em;
    margin: 0;
    padding: 6px 0;
    position: absolute;
    z-index: 2;
}

#bunav li ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #B9BDC0 #B9BDC0;
    border-image: none;
    border-right: 1px solid #B9BDC0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}

#bunav li ul ul {
    border: medium none;
    box-shadow: none;
}

#bunav li ul {
    width: 20em;
}

#bunav li li {
    margin-right: 0;
    width: 100%;
}

#bunav li li a, #bunav li:hover li a, #bunav li:focus li a {
    color: #222222;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    height: auto;
    line-height: 1.4em;
    padding: 4px 12px;
    text-transform: none;
    width: auto;
}

#bunav li li a:hover, #bunav li li a:focus {
    color: #0C59B6;
    text-decoration: underline;
}

#bunav li li ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#bunav li li li a, #bunav li:hover li li a, #bunav li:focus li li a {
    color: #0C59B6;
    font-size: 1.1em;
    font-weight: 400;
}

/*

#bunav {
  width: 837px;
	height: 36px;
  overflow: hidden;
  font-size: 10px;
}
#bunav ol, ul {
    list-style: none outside none;
}

#bunav li:first-child {
    border-top-left-radius: 6px;
}
#bunav li {
    float: left;
    width: auto;
}
#bunav li a {
    color: #6FA8E2;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 14px;
    padding: 11px;
    text-decoration: none;
    text-transform: uppercase;
}
#bunav ul {
    list-style: none outside none;
}
#bunav li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 3px 6px #666666;
    left: -999em;
    margin: 0;
    padding: 6px 0;
    position: absolute;
    z-index: 2;
}
#bunav li ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #B9BDC0 #B9BDC0;
    border-image: none;
    border-right: 1px solid #B9BDC0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
#bunav li ul {
    width: 20em;
}
#bunav li li {
    margin-right: 0;
    width: 100%;
}
#bunav li li a, #bunav li:hover li a, #bunav li:focus li a {
    color: #222222;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    height: auto;
    line-height: 1.4em;
    padding: 4px 12px;
    text-transform: none;
    width: auto;
}
*/

#bufooter {
    background: none repeat scroll 0 0 #07144B;
    color: #7DBDFF;
    font-size: 10px;
    font-family: Helvetica, arial, verdana, sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
}

#bufooter .bucontainer {
    margin: 12px auto 25px;
    min-height: 60px;
}

#bufooter .masterplate {
    margin-top: 40px !important;
}

#bufooter .masterplate img {
    float: left;
    margin: 0 40px 40px 0;
}

#bufooter .masterplate img.bumc {
    float: right;
    margin: -14px 0 50px 50px;
}

#bufooter img.bumc {
    float: right;
    margin: 0 0 50px 50px;
}

#bufooter a {
    color: #6FA8E2;
    text-decoration: none;
    font-weight: normal;
    padding: 0;
}

#bufooter ul {
    list-style: none outside none;
    margin-bottom: 20px;
}

#bufooter li {
    border-right: 1px solid #093683;
    display: inline;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-right: 6px;
    padding-right: 6px;
}

#bufooter li.butoday {
    border-right: medium none;
}

#bufooter li:last-child {
    border-right: medium none;
}