#generic_brand_header td {
	padding: 0px;
	margin: 0px;
}
#generic_brand_header table {
	padding: 0px;
	margin: 0px;
}
#generic_brand_header img {
	padding: 0px;
	margin: 0px;
}
#generic_brand_content td {
	align: left;
	padding: 0px;
	margin: 0px;
}
#generic_brand_content table {
	padding: 0px;
	margin: 0px;
}
#generic_brand_content img {
	padding: 0px;
	margin: 0px;
}
#generic_brand_footer td {
	padding: 0px;
	margin: 0px;
}
#generic_brand_footer table {
	padding: 0px;
	margin: 0px;
}
#generic_brand_footer img {
	padding: 0px;
	margin: 0px;
}
