@charset "utf-8";
/* CSS Document */

/* This section delineates the layout of the page, there is no "styling" here */

.with-navbar #content, .with-navbar #sidebar-left, .with-navbar #sidebar-right {
    margin-top: 2em;
}

#page-inner {
    position: relative;
}

#sidebar-right {
    position: relative;
}

#header-blocks {
    position: absolute;
    top: 0;
    right: 0;
}

#top_nav {
    float: right;
}

#page-main {
    padding: 0px 20px; /* CC padding */
    padding-bottom: 50px;
    width: 100%;
    clear: right;
}

#footer {
    clear: both;
}

#TB_window {
    background: none;
}

/**************************************************************************/

/* This next section deals with the styling of the various elements of the page */
img {
    border: 0;
}

#page {
    background: none;
}

body {
    background-color: #fff;
    background-image: url("../img/bg_body.gif");
    margin: 0;
    padding: 0;
}

#page-main {
    border: 1px solid #ccc;
    background-color: #fff;
}

/* Footer, and links therein */
#footer {
    clear: both;
}

#copyright {
    padding-top: 6px;
    padding-left: 2px;
    float: left;
    color: #444;
    font-size: 11px;
}

#bottom_links {
    padding-top: 6px;
    float: right;
    color: #444;
    font-size: 11px;
}

#top_quick_links ul, #bottom_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#top_quick_links ul li, #bottom_links ul li {
    display: inline;
    border-left: 1px solid #444;
    padding: 0px 10px;
}

#top_quick_links ul li.first_link, #bottom_links ul li.first_link {
    border-left: none;
}

#top_quick_links a, #top_quick_links a:visited, #bottom_links a, #bottom_links a:visited {
    color: #444;
    text-decoration: none;
}

#top_quick_links a:hover, #bottom_links a:hover {
    color: #000;
    text-decoration: none;
}

/* Quick links at the top of the header */
#top_quick_links {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 12px;
}

#top_quick_links ul li {
    padding: 0px 20px;
}