
html,body{
  height: 100%;
  font-family: "arial",serif;
  min-width:1024px;
}
body{
  margin: 0;
  padding: 0;
  background-image: url('../img/background.jpg');
  background-position: top;
  background-repeat: repeat-x;
  font-size: 12px;
}
#page{
  background: none;
  color:#000;
  width: 1024px;
  min-height: 936px;
  margin: 0px;
}
#logo {
	margin-top: 30px
}
a:link, a:hover, a:focus, a:visited {
	color: #4A1717;
}
#content {
  margin-right: -1024px !important;
}
#content-inner {
  min-height: 300px;
  padding-left: 10px;
}
.with-navbar #content, .with-navbar #sidebar-left, .with-navbar #sidebar-right {
	margin-top: 3px
}
#sidebar-left {
	min-height: 814px;
	background-color: #FFFFFF;
	width: 150px;
}
.with-navbar #content {
	margin-left: 160px;
}
#footerbar {
  margin: 0;
  padding: 0;
  background-image: url('../img/footer_bar.png');
  background-position: bottom;
  background-repeat: repeat-x;
  width: 100%;
  height: 45px
}

#main {padding: 0px 0px;}

#footer {padding: 10px 10px;margin-left: 200px}

#views-filters { display: none;}

#logo-title {
    background: url("../img/HeaderBarGradient.png") repeat scroll 0 0 transparent;
    display: block;
    height: 120px;
}

.view-header-all-activities h1 { font-family: Arial,verdana,sans-serif; font-size: 15px; font-color: #000000; padding-left: 0px; }
.view-content-all-activities .view-cell-header .view-field-node-data-field-icon-field-icon-fid { display: none }
.view-content-all-activities table { background-color:#f6f6f6; border-color: #ccc; border-style: solid; border-width: 1px 1px 2px; }
.view-content-all-activities table tr.odd { background-color: transparent; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; border-style: none; }
.view-content-all-activities table tr.even { background-color: transparent; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; border-style: none; }
.view-content-all-activities thead { color: #666; background-color: #e7e7e7; border: solid 1px #ccc; }
.view-content-all-activities thead th { color: #666; background-color: #e7e7e7; border-style: none; }
.view-content-all-activities tbody { border-style: none; }
.view-content-all-activities .view-field-node-data-field-series-field-series-value { display: none }
.view-content-all-activities .separator {width: 757px; height: 2px; border: 0;}
.view-content-all-activities table tr td {border: 0px;}

.reg_legal_agreement {
	display:none;
}
