/*******************************************************\
 * You can change this file to make different nav layouts
 * using the markers below.
 *
 * Markers:
 *
 *
 * Right align the top nav
 * -------------------------
 * m1 - change to [float: right;]
 *
\*******************************************************/

/* top nav items */
#headernav .navtop {
    /* recommended styles */
    list-style: none;
    margin: 0;
    padding: 0;
    float: left; /* maker :m1: */
    width: 100%; /* == Use this line to make the navtop <ul> span the entire width */

    /* add custom styles here */
}

#headernav .navtop li {
    /* recommended styles */
    float: left;

    /* add custom styles here */
    border: 1px solid #aaa;
}

#headernav .navtop li a {
    /* recommended styles */

    /* add custom styles here */
    color: black;
    padding: 5px;
    display: block;
}

#headernav .navtop li a:hover {
    /* recommended styles */

    /* add custom styles here */
    text-decoration: none;
}

/* dropdown nav items */
#headernav .navtop li ul {
    /* recommended styles */
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;

    /* add custom styles here */
    margin-left: -1px;
    background-color: #fff;
}

#headernav .navtop li:hover ul,
#headernav .navtop li.hover ul {
    /* recommended styles */
    display: block;
}

/* needed for safari if drop down is going over flash
 * without this, the drop down flickers or even becomes invisible
 * when you mouse over it.
 * This is a hack that causes safari to redraw the drop down nav on top of the flash
 */
#headernav .navtop li:hover ul.redraw,
#headernav .navtop li.hover ul.redraw {
    /* recommended styles */
    border-bottom: 1px hidden transparent;
}

#headernav .navtop li ul li {
    /* recommended styles */
    float: none;
    position: relative;

    /* add custom styles here */
    border: 1px solid #aaa;
}

/* sub nav styles */
.navsub {
    list-style: none;
    margin: 20px;
}

top_nav_links:hover {
    background-color: #ffffff;
}
