@charset "UTF-8";
/* CSS Document */

a.accel{	
	background:url("./img/ACCELMED_header.jpg") no-repeat scroll 0 0 transparent;
	display:block;
	border-bottom:medium #000;
	padding-top:133px;
	margin-top:50px;
}

#main{

padding:10px;
}

#banner{
	border-bottom:medium solid #000;
	width:100%;
}
	

#banner-inner{
	margin-left:auto;
	margin-right:auto;
	width:756px;
}

#headline{
	background-color:#332A85;
	margin-top:10px;
	height:20px;
}
a.acclinks{
color: white;
font-size:10px;
padding:0px 10px 0 10px;
float:right;
}
span.acclinks{
float:right;

}
#accel-footer{
	font-size:10px;
	margin:0 0 8px;
	height:20px;
	margin-bottom:4px;
	padding:10px 15px 0 15px;
	font-family: normal Arial, Helvetica, Verdana, sans-serif;
	color: white;
	background-color:#332A85;
	

}